
.conts {
    margin: 0;
    padding: 0; /* Add a unit for padding, e.g., 10px */
    background-image: url("https://images.pexels.com/photos/341858/pexels-photo-341858.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 144vh; /* Set to 100vh for full viewport height */
    max-width: 50;
   overflow: hidden;
  }
  .van {
   margin-top: 350px;
  }
  .container {
    background-image: url("https://images.pexels.com/photos/341858/pexels-photo-341858.jpeg");
    display: flex; /* Add display property */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%; /* Adjust the padding as needed */
    height: 100vh; /* Set to 100vh for full viewport height */
  }
  