/* AdminSidebar.css */

.admin-container {
    display: flex;
    height: 100%;
  }
  
  .sidebar {
    height: 100%;
    width: 250px;
    background-color: #333;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s; /* Added sidebar width transition */
  }
  
  .sidebar:hover {
    width: 280px; /* Adjust the expanded width as needed */
  }
  
  .sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .sidebar button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar button:hover {
    background-color: #555;
  }
  
  .sidebar button.active {
    background-color: #4285f4;
  }
  
  .sidebar button svg {
    margin-right: 10px;
  }
  
  /* Add keyframe animation for the sidebar */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .sidebar button {
    animation: slideIn 0.5s ease-out;
  }
  
  .dashboard-container {
    flex: 1;
    padding: 20px;
    transition: margin-left 0.3s; /* Added transition for the content area */
  }
  
  .sidebar:hover + .dashboard-container {
    margin-left: 30px; /* Adjust the margin as needed when the sidebar expands */
  }
  